body {
    font-family: Arial, sans-serif;
    background-color: rgb(36, 18, 46);
    margin: 0;
    padding: 0;
}

.menu-bar {
    width: 100%;
    max-width: 440px;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0.6%;
    font-size: 10px;
    background-color: rgb(45, 45, 155);
    z-index: 998;
}

.bar {
    color: white;
    cursor: pointer;
}

i {
    font-size: 21px;
    margin: 5px;
    vertical-align: middle;
}

.menu {
    transform: translateX(-101%);
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 220px;
    height: 100%;
    max-height: 1015px;
    padding: 20px;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.bottom-menu {
    transform: translateY(100%);
    transition: transform 0.3s ease;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
<<<<<<< HEAD
    height: 680px;
=======
    height: 800px;
>>>>>>> fef118dd211f920c4fce7af195c02b5a24745cc0
    width: 100%;
    max-width: 400px;
    border-radius: 11px 11px 0 0;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#up-bottom-menu{
    background-color: rgb(2, 2, 255);
    position: absolute;
    top: 0;
    border-radius: 11px 11px 0 0;
    width: 100%;
    max-width: 376px;
    height: 100px;
    padding: 12px;
}

#up{
    position: absolute;
    top: -12px;
    right: 50%;
}

#powiadomienia{
    position: absolute;
    top: 30px;
    font-size: 8px;
}

#bell{
    font-size: 50px;
    margin-left: 200px;
    vertical-align: middle; 
}

.menu-open {
    transform: translateX(0);
}

.bottom-menu-open {
    transform: translate(-50%, 0);
}

.close-button {
    color: white;
   
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 200px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay.show {
    display: block;
}

.login-container {
    width: 100%;
    max-width: 440px;
    height: 100%;
    max-height: 850px;
    margin: 30px auto 0 auto;
    padding: 0.6%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure positioning context for absolute menu positioning */
}

/* Styl dla profilu */
.profile {
    position: relative;
    background-color: rgb(45, 45, 155);
    border-radius: 17px 50px 17px 17px;
    padding: 5px;
    width: 370px;
    height: 220px;
    margin: 20px auto;
    color: white;
}

#logotip {
    position: absolute;
    width: 55px;
    height: 55px; 
    top: 7%;
    left: 3.5%;
}

#kolo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 11.5px;
    right: 11.5px;
    width: 107px;
    height: 107px;
    background-color: #ffffff;
    border-radius: 50%;  
}

.avatar {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    position: absolute;
    top: 40%;
    right: 30%;
}

.qrcode {
    position: absolute;
    bottom: 10%;
    left: -4%;
    transform: translate(50%, 0);
    width: 80px;
    height: 80px;
    border-radius: 20%;
}

/* Styl dla przycisków */
.container {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.image {
    flex: 0 0 auto;
    margin-right: 10px;
}

.image:last-child {
    margin-right: 0;
}

.image img {
    width: 130px;
    height: auto;
}

#pay {
    text-align: right;
}

#kup, #dodaj {
    width: 120px;
    height: 45px;
    background-color: rgb(45, 45, 155);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#kup:hover, #dodaj:hover {
    background-color: rgb(58, 58, 149);
}

.pakiet {
    background-color: rgb(58, 58, 149);
    text-align: center;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    height: 115px;
    margin: 20px auto;
    color: white;
}