body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
}

.menu-bar {
    width: 100%;
    max-width: 440px;
    height: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 45, 155);
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#bell, #nearby {
    padding: 7px;
    color: white;
}

#menu-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#menu-button:hover {
    background-color: #0056b3;
}

.menu {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    position: absolute; /* Ustawienie na absolute lub fixed, zależnie od potrzeb */
    top: 100px; /* Przykładowe ustawienie pozycji */
    left: 50px; /* Przykładowe ustawienie pozycji */
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.menu h2 {
    margin-top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    padding: 10px 0;
    cursor: pointer;
}

.menu ul li:hover {
    background-color: #575757;
}

.menu-open {
    transform: translateX(0);
}

.login-container {
    width: 100%;
    max-width: 420px;
    margin: 80px auto 0 auto; /* Adjusted margin to account for fixed menu bar */
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Styl dla profilu */
.profile {
    position: relative;
    background-color: rgb(45, 45, 155);
    border-radius: 17px 50px 17px 17px;
    padding: 5px;
    width: 100%;
    max-width: 370px;
    height: 220px;
    margin: 20px auto;
    color: white;
}

#logotip {
    position: absolute;
    width: 55px;
    height: 55px; 
    top: 7%;
    left: 3.5%;
}

#kolo {
    display: flex;
    justify-content: center; /* wyśrodkowanie poziome */
    align-items: center; /* wyśrodkowanie pionowe */
    position: absolute;
    top: 11.5px;
    right: 11.5px;
    width: 107px;
    height: 107px;
    background-color: #ffffff;
    border-radius: 50%;  
}

.avatar {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    position: absolute;
    top: 40%;
    right: 30%;
}

.qrcode {
    position: absolute;
    bottom: 10%;
    left: -4%;
    transform: translate(50%, 0);
    width: 80px;
    height: 80px;
    border-radius: 20%;
}

/* Styl dla przycisków */
.container {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.image {
    flex: 0 0 auto;
    margin-right: 10px;
}

.image:last-child {
    margin-right: 0;
}

.image img {
    width: 130px; /* Zmniejszenie szerokości obrazków */
    height: auto;
}

#pay {
    text-align: right;
}

#kup, #dodaj {
    width: 120px;
    height: 45px;
    background-color: rgb(45, 45, 155);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#kup:hover, #dodaj:hover {
    background-color: rgb(58, 58, 149);
}

.pakiet {
    background-color: rgb(58, 58, 149);
    text-align: center;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    height: 115px;
    margin: 20px auto;
    color: white;
}